{% render 'partials/head.liquid' %}

  <main class="main">

    <article class="visitekaartje">
      <img src="{{ person.avatar }}" alt="foto {{ person.name }}" width="800" height="800" class="visitekaartje-img">
      <h1>{{ person.name }}</h1>
          <div class="fdnd-student">
            <a href="{{ person.website }}" >{{ person.custom.fdndstudent }}</a>
          </div>
      <p class="tekst">{{ person.bio }}</p> 

      <div class="rij-blokjes rij-1">
        <p class="blokjes javasript">{{ person.custom.skill1 }}</p>
        <p class="blokjes html">{{ person.custom.skill2 }}</p>
        <p class="blokjes css">{{ person.custom.skill3 }}</p>
      </div>

      <div class="rij-blokjes">
        <p class="blokjes creatief">{{ person.custom.eigenschap1 }}</p>
        <p class="blokjes sociaal">{{ person.custom.eigenschap2 }}</p>
        <p class="blokjes behulpzaam">{{ person.custom.eigenschap3 }}</p>
      </div>
    </article>

  </main>

{% render 'partials/foot.liquid' %}
