{% render 'partials/head.liquid' %}

  <main class="main">
    <article class="visitekaartje">
      <img src="{{ person.avatar }}" alt="" width="800" height="800" class="visitekaartje-img">
      <h1>{{ person.name }}</h1>
          <div class="fdnd-student">
            <a href="{{ person.website }}" >{{ person.custom.fdndstudent }}</a>
          </div>
      <p class="tekst">{{ person.bio }}</p> 

      <div class="rij-blokjes rij-1">
        <p class="blokjes skill1">{{ person.custom.skill1 }}</p>
        <p class="blokjes skill2">{{ person.custom.skill2 }}</p>
        <p class="blokjes skill3">{{ person.custom.skill3 }}</p>
      </div>

      <div class="rij-blokjes">
        <p class="blokjes eigenschap1">{{ person.custom.eigenschap1 }}</p>
        <p class="blokjes eigenschap2">{{ person.custom.eigenschap2 }}</p>
        <p class="blokjes eigenschap3">{{ person.custom.eigenschap3 }}</p>
      </div>
    </article>

  </main>



{% render 'partials/foot.liquid' %}
